.pageTitle {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 2rem;
    color: #23232e;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    font-weight: 900;
  }