.box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  background: #fff;
  text-align: center;
  transition: 300ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box img {
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}

.box h3 {
  color: #444;
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 700;
  margin: 0.3rem;
}

.box h4 {
  color: #a10000;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 700;
}

.box p {
  color: #646464;
  font-size: 0.8rem;
  font-family: "Inter";
  margin: 0.5rem;
}

.box .updateBtn {
  margin: 1rem 0 1.5rem 0;
  display: inline-block;
  background-color: #23232e;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-family: "Inter";
}

.box .updateBtn:hover {
  background-color: #141418;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
