.bgBrandBlue {
  height: 35vh;
  background: linear-gradient(to bottom, #00172d, #02386e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: "Maven Pro Bold";
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
